/* index.module.scss */
.selectContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: transparent;
  }
  
  .select {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: transparent;

      }
  
  .select:focus {
    outline: none;
      }
  