html,
body {
    overflow: hidden;
    /* Hides scrollbars */
    overflow-y: scroll;
    /* Enables vertical scrolling without visible scrollbar */
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    scroll-behavior: smooth;
}

/* For Webkit browsers (Chrome, Safari) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}